.heading {
    font-size:23px;
    width:1400px;
    margin:0px;
    box-shadow:5px 5px 5px grey;
}
.note{
    font-size:15px;
    color:black;
}
.copy_right_footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:grey;
    line-height:3;
    text-align:center;
    height:60px;
    padding-top:10px;
    background:url(wee.jpg);
    background-size:cover;
    color:white;
}
canvas{
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
}
body{
    background:url(895528.webp);
    background-size:cover;
}
video{
    margin-left: 250px;
}